* {
	box-sizing: border-box;
}


/*.banner{
	background-image: url("https://scontent.xx.fbcdn.net/t31.0-8/13710728_10154262360010320_4103805479978056817_o.jpg");
	background-size: cover;
	width: 100vw;
	height: 500px;
}*/