
<div class="row">
<div class="bg"
	<button > <a class="btn2" href="#/"> Take Me Home </a> </button>
	<div class="col-lg-12">
		<div class="my_props">
			

			<div class="row">
				<div class="col-lg-12">
					<div class="my_name">
						{{me_me_me}} : 
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div ng-repeat="m in me_props">
						<ul class="list">
							<li>
								{{m.text}}
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</div>