<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ToDo</title>
</head>
<body ng-app = "theGroceryList">
	<div ng-controller = "groceryCtrl">

		<h1>Emma's Grocery List</h1>

		<!-- Get the items -->
		<h4>Enter the item you would like: </h4>
		<input ng-model="item">

		<!-- Get the number of items -->
		<h4>Enter the amount you would like: </h4>
		<input ng-model="amount">
		<button ng-click="addItem()">Add</button>

		<!-- Log the items in the list -->
		<h4>Your current grocery list: </h4>

<label>Search: <input ng-model="searchText"></label>
		<ol> 
			<li ng-repeat="items in groceries | filter:searchText">
				{{items.name}} :  {{items.amt}} 
				<button ng-click="add(items)"> + </button>
				<button ng-click="subtract(items)"> - </button>
			</li>
		</ol>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>	
	<script src="grocery.js"></script>
</body>
</html>